body{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
#header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}
#taskbar{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 60px;
}
.address{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
#nav{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.506);
    height: 40px;
}
#navbar{
    display: flex;
    color: aliceblue;
    justify-content: center;
    gap: 40px;
    align-items: center;
    border: 1px solid #1A504C;
    height: 35px;
    background-color: #1A504C;
}
.search{
    display: flex;
    flex-direction: row;
    background-color: #162c2a;
}
#empty{
    height: 50px;
}
.threeimg{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 20px;
}
.threeimg img{
    border-radius: 15px;
}
.font{
    font-size: 30px;
    font-weight: 1000;
    margin-left: 100px;
}
#products{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 50px;
    margin-top: 10px;
}
.pro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.brand{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 35px;
    gap: 70px;
    
}
.brn1{
    display: flex;
    flex-direction: column;
    background-color: rgb(217, 217, 217);
    height: 130px;
}
.labtest{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 35px;
    gap: 65px;
}
.test1{
    display: flex;
    flex-direction:  row;
    border: 1px solid rgba(0, 0, 0, 0.096);
    padding: 10px;
}
.write{
    display: flex;
    flex-direction: column;
}