body{
    background-image: url("https://raw.githubusercontent.com/PatelNeelMahesh/frontend_tasks/main/Cricket_App/backgroud.png");
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    margin-left: 75%;
}
table{
    background-color: white;
    height: 300px;
    width: 510px;
    margin-left: 10px;
    font-size: 10px;
}
tr{

    border-bottom: 1px solid rgb(0, 0, 0);
    
}
.orenge{
    background-color: orangered;
}
#wic{
    padding-left: 15px;
}
#run{
    text-align: center;
}
#ball{
    text-align: center;
}
#four,#six,#sr{
    text-align: center;
}